body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2937;

}

.header_logo{
font-size: 18px;
color: #f9faf8;
}

.header_links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
.header_2 h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}
.header_2 p{
    font-size: 18px;
    color: #e5e7eb;
}
.card_container h1{ 
font-size: 36px;
color: #1f2937;
}
.dummy_text h1{
    font-size: 24px;
    font-family: light italic;
    color: #1f2937
}
.blue_square{
    background-color:#3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 15px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.blue_square h1 {
font-size: 18px;
color: #e5e7eb;
}
.blue_square p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
    }
ul{
    padding: 0;
    margin: 0;

}
.box2 h1{
    margin: 0;
}
.box2 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.one{
    flex: 1;
     margin-right: 33px;
     
    }
.two{
    flex: 1;
    margin-right: 33px;
    }
.three{
    flex: 1;
    margin-right: 33px;
    }
.four {
    flex: 1;
    margin-right: 33px;
}
.dummy_text h1{
    text-align: justify;
}
.one p{
text-align: center;

}
.two p{
    text-align: center;
    }
.three p{
    text-align: center;
    }
.four p{
    text-align: center;
    }

/* from here up is only font related stuff */

.header1{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #1f2937;
}
/* elements of the fist header */
.header_logo{
    display: flex;
}
.header_links{
    display:flex;
}
/* elements of the 2 directions sections */

.text_section1{
    display: flex;
    flex:1;
    justify-content: right;
    align-items: center;
    padding-left: 100px;
   border: 2px;
   color: white;
}
.button{
    margin-left: 100px;
    margin-bottom: 30px;
}
.photo{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 250px;
    width: auto;
    display: flex;
   justify-items: end;
    background-color: #1f2937;
}
.box2 p{
    text-align:start ;
    text-indent: 15px;
}
/* from this point is the cards section */

.cards{
    display: flex;
    align-items: center;
    justify-content:  center;
    background-color: #ffffff; 
    gap: 30px;
}
.title_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.cardn{
    display: flex;
    align-items: center;
    justify-items: center;
}
.dummy_text{
    background-color: #e5e7eb;
    padding: 10px;
}
/* footer */
.fooder{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    background-color: #1f2937;
    margin-top: 0;
    
}
.whitebox{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}
.button{
    display: block;
    margin: 0;
    padding: 5px;
}
img{
    outline:3px solid #3882f6;
    border-radius: 10%;
}
